<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    
    <link rel="stylesheet" href="./style.css">
    <title>Main Page</title>
</head>
<body>
    <div class="container">
        <div class="div text-center">
            <h1 class="text-warning">DATA STATUS PENGEMBALIAN BUKU</h1>
            <div class="d-grid mx-auto">
                <a href="/add-activities"><button class="btn btn-warning" style="padding-left: 10%;padding-right: 10%;" type="button">Add Activities +</button></a>
              </div>
              <br>
            <table class="table table-dark">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Book</th>
                    <th scope="col">Status</th>
                    <th scope="col">Update</th>
                    <th scope="col">Delete</th>
                  </tr>
                </thead>
                <% for (index in activities) { %>
                <tbody class="table-group-divider">
                  <tr>
                    <th scope="row"><%= (Number(index) + 1)%></th>
                    <td><%= activities[index].Member.firstName %></td>
                    <td><%= activities[index].Book.title %></td>
                    <td><%= activities[index].status %></td>
                    <td>
                      <a href="/edit-activities/<%= activities[index].id %>">
                        <button class="btn btn-primary">
                          Edit
                        </button>
                      </a>
                    </td>
                    <td>
                      <form action ="/delete-activities/<%= activities[index].id %>" method="post">
                        <!-- <input type="hidden" name="_method" value="Delete" />
                        <input type="hidden" name="id" value="<%= activities[index].id %>" /> -->
                        <button class="btn btn-danger" type="submit" >
                          Delete
                        </button>
                      </form>
                    </td>
                  </tr>
                <% } %>
                </tbody>
              </table>
        </div>
        <div class="footer">

        </div>
    </div>
</body>
</html>