<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="./register.css">
    <title>Register</title>
</head>
<body>
    <div class="container">
        <h1 class="text-center text-warning">PENAMBAHAN AKTIFITAS PEMINJAMAN BUKU</h1>
        <form action="/activities" method="post" id="myForm">
            
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">memberId</label>
                <input type="number" class="form-control" id="memberId" aria-describedby="emailHelp" name="memberId">
                <div class="form-text">insert member's ID</div>
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">bookId</label>
                <input type="number" class="form-control" id="bookId" aria-describedby="emailHelp" name="bookId">
                <div  class="form-text">insert book's ID</div>
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Status</label>
                <input type="text" class="form-control" id="status" aria-describedby="emailHelp" name="status">
            </div>
            <button type="submit" class="btn btn-warning">Submit</button>
        </form>
    </div>
</body>
</html>